<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<form th:action="@{/form}" th:object="${user}" method="POST">
    <h1><p th:text="'Welcome! ' + ${user.name}"/></h1>
    <table border="1" cellspacing="1" cellpadding="7">
        <tr>
            <td><h3>Id</h3></td>
            <td><p th:text="${user.id}"></td>
        </tr>
        <tr>
            <td><h3>Name</h3></td>
            <td><p th:text="${user.name}"></td>
        </tr>
        <tr>
            <td><h3>Password</h3></td>
            <td><p th:text="${user.password}"></td>
        </tr>

        <tr>
            <td><h3>Role</h3></td>
            <td><p th:text="${user.getRolesToString()}"></td>

        </tr>
    </table>
</form>

<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>